

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="userForm" (ngSubmit)="onAddUser()">
                    <div class="form-group">
                        <label for="username"><strong>Username</strong></label>
                        <input type="text" formControlName="username" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="userRole"><strong>UserRole</strong></label>
                        <select type="text" formControlName="userRole" class="form-control">
                            <option value="Candidate">Candidate</option>
                            <option value="Admin">Admin</option>
                        </select>
                    </div>
                    <div class="text-right">
                        <button type="button" 
                        (click)="onUpdateUser()" 
                        *ngIf="!editMode"
                        [disabled]="editMode" [hidden]="!editMode"
                         class="btn btn-outline-warning">Update User</button>
                        <button type="submit" *ngIf="editMode" [disabled]="userForm.invalid"
                        class="btn btn-outline-success">Add User</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
