<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="prodForm" (ngSubmit)="onAddProd()">
                    <div class="form-group">
                        <label for="pName"><strong>Product Name</strong></label>
                        <input type="text" formControlName="pName" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="pStatus"><strong>Product Status</strong></label>
                        <select class="form-control" id="pStatus" formControlName="pStatus">
                            <option value="In-progress">In-progress</option>
                            <option value="Delivered">Delivered</option>
                            <option value="Dispatched">Dispatched</option>
                        </select>
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-outline-warning"
                        (click)="onUpdateProd()" *ngIf="!editMode" [hidden]="!editMode"
                        >Update Product</button>
                        <button type="submit" class="btn btn-outline-success"
                         *ngIf="editMode"  [disabled]="prodForm.invalid"
                        >Add Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
